# Local Configuration
*.vcxproj.user

# Debugger Files
*.pdb
*.idb

# Generated Project Folders
dev/.vs
dev/intermediate

# Generated Project Files
bin/qegame.exe
qelog.txt

# Personal Files
_exclude/